/* 全局样式表 */
.Column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}